.cactus-widget-demo,
.cactus-widget-demo * { box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.cactus-widget-demo { background-color:rgba(17,17,17,1.0); padding:0; position:fixed; left:auto; bottom:0; top:0; right:0; width:360px; z-index:9999999999999999; font-family: 'Open Sans', sans-serif; line-height:1; transform:translate3d(101%,0,0); -webkit-transform:translate3d(101%,0,0); -ms-transform:translateX(101%); transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;}
.cactus-widget-demo.active {transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0); -ms-transform:translateX(0);}

.cactus-button-open { position:absolute; right:100%; top:50%; margin-top:-120px; background-color:rgba(17,17,17,1.0); width:60px; height:60px; border-top-left-radius:5px; border-bottom-left-radius:5px; -webkit-border-top-left-radius:5px; -webkit-border-bottom-left-radius:5px; color:rgba(0,205,179,1.0); text-align:center; padding:10px 0; cursor:pointer;  transition:color 0.2s; -webkit-transition:all 0.2s;}	
.ct-icon-star-two {margin:0;height:25px;width:25px;fill:currentColor; display:inline-block; vertical-align:top; margin-bottom:4px;}
.cactus-button-open > span { display:block; font-size:11px; color:rgba(153,153,153,1.0); transition:color 0.2s; -webkit-transition:all 0.2s;}

.cactus-button-open:hover,
.cactus-button-open:hover > span,
.cactus-widget-demo.active .cactus-button-open > span,
.cactus-widget-demo.active .cactus-button-open { color:rgba(255,255,255,1.00);}

.cactus-buy-button { text-align:center; padding:20px; border-bottom:1px solid rgba(255,252,252,0.1); }
.cactus-info-demo {text-align:center; padding:34px 20px; border-bottom:1px solid rgba(255,252,252,0.1); font-size:18px; color:rgba(153,153,153,1.00); font-weight:800; text-transform:uppercase; line-height:1.4; margin-bottom:25px;}

.cactus-btn-buy,
.cactus-btn-buy:focus { border-radius:5px; -webkit-border-radius:5px; background-color:rgba(117,169,70,1.0); font-size:18px; color:rgba(255,255,255,1.00); font-weight:800; line-height:1.4; text-decoration:none; text-transform:uppercase; display:block; padding:9px 20px; text-align:center; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out;}
.cactus-btn-buy:hover { background-color:rgba(255,255,255,1.00); color:rgba(117,169,70,1.0); text-decoration:none;}

.cactus-content-scroll { position:absolute; top:84px; bottom:20px; left:0; right:0; overflow:hidden; -webkit-overflow-scrolling:touch; -ms-overflow-style:-ms-autohiding-scrollbar; overflow-scrolling:touch;}
.cactus-title { font-size:14px; font-weight:bold; color:rgba(250,218,26,1.0); text-align:center; text-transform:uppercase; margin-top:-2px; margin-bottom:28px;}

.cactus-group-demo { padding-left:10px; padding-right:10px;}
.cactus-group-content { margin-left:-5px; margin-right:-5px; padding-bottom:11px; font-size:0; line-height:0; position:relative; margin-bottom:20px;}
.cactus-group-content:after { content:''; display:block; position:absolute; height:1px; bottom:0; left:-5px; right:-5px; background-color:rgba(255,255,255,0.1);}
.cactus-group-demo:last-child .cactus-group-content {padding-bottom:0; margin-bottom:-20px;}
.cactus-group-demo:last-child .cactus-group-content:after { display:none;}

.cactus-group-content > * { display:inline-block; vertical-align:top; width:50%; padding-left:5px; padding-right:5px; margin-bottom:20px;}
.cactus-group-content > * img { width:100%; height:auto; display:block;}
.cactus-group-content > * a,
.cactus-group-content > * a:focus { display:block; text-transform:uppercase; font-size:12px; font-weight:bold; text-transform:uppercase; line-height:1.5; text-align:center; color:rgba(255,255,255,1.00); text-decoration:none;}
.cactus-group-content > * a.cactus-item-content > div {padding:6px 10px 5px 10px; background-color:rgba(68,68,68,1.0); transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out}
.cactus-group-content > * a.cactus-item-content:hover > div { background-color:rgba(255,255,255,1.00); color:rgba(17,17,17,1.0);}

.cactus-content-body { padding-bottom:60px;}

.cactus-widget-demo .mCSB_inside>.mCSB_container { margin-right:0;}
.cactus-widget-demo .mCSB_scrollTools { width:4px;}

@media(max-width:767px) {
	.cactus-widget-demo { width:200px}
	.cactus-group-content > * { width:100%;}
}